mat-form-field {
    margin-top: 35px;
    margin-left: 35px;
    color: white;
    float: left;
}

.filter-field {
    margin-right: 50px;
}

th {
    color: #3F3D56;
}

mat-paginator {
    margin-left: 10%;
    width: 50%;
}

table {
    margin-left: 10%;
    margin-bottom: 2%;
    width: 80%;
}

img {
    margin-left: 40%;
}